@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlemoJP';
  src: url('/fonts/PlemolJP-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Corporate';
  src: url('/fonts/Corporate-Logo-Rounded-Bold-ver3.woff2') format('woff2'),
       url('/fonts/Corporate-Logo-Rounded-Bold-ver3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
